.iconDefault {
    font-size: 100px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 0px;
    color: rgb(166,166,166);
}

.navbarDefault {
    padding: 0px;
}

.navbarPadding {
    padding-top: 124px;
    background-color: rgb(255,255,255);
}
