/* CSS for Race Submit Button component */

.raceSubmitButton {

    margin-bottom: 6em;

    font-size: 1.5em;    
    font-weight: bold;

    border-width: 0.1em;
    border-color: white;

    float: center;
}
