/* CSS for Help.jsx*/

.helpDiv {
    background-color: rgb(217, 217, 217);
    padding: 20px;
    border-radius: 20px;
    border-style: solid;
    margin-bottom: 20px;
}

.helpTitle {
    font-weight: bold;
    padding-bottom: 20px;
}

.helpSubHeader {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.helpText {
    font-size: 16px;
    text-align: left;
}

.helpIcon {
    font-size: 70px;
    margin-bottom: 20px;
    padding: 0px;
}

.redIcon {
    color: rgb(234,53,43);
}

.greenIcon {
    color: rgb(0, 151, 13);
}

.orangeIcon {
    color: rgb(219, 99, 0);
}
